//Variables Go Here
$icon-font-path: "../fonts/bootstrap/";

@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

body {
    background-color: #ddd;
}

#cron-builder {
    background-color: #ddd;
    padding: 10px;
}

#cron-field {
    text-align: center;
    font-size: 48px;
    height: 64px;
}

.cron-tabs {
    margin-top: 15px;
}

.label-valid {
    @extend .label-success;
}

.label-invalid {
    @extend .label-warning;
}

.label-missing {
    @extend .label-danger;
}
